<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Compras</title>
  <link rel="icon" type="image/x-icon" href="img/perla.png" />
<link rel="stylesheet" type="text/css" href="/css/producto.css">
</head>
<body>

 
  <header class="lol">
    <h1><span class="letras">RT  </span>Joyería</h1>
    <nav>
        <ul>
        <li><a href="/logout2" class='botonProductos'>Cerrar</a></li>
         <li><a href="/">Inicio</a></li>
          <li><a href="/usuarios" class='botonProductos'>Users</a></li>
          <li><a href="/categorias">Categorías</a></li>
          <li><a href="/compras">Compras</a></li>
             <li><a href="/productos" class='botonProductos'>Productos</a></li>     

        </ul>
    </nav>
  
</header>
  <h1>Compras</h1>
  <div class="lg">
    <table class="table-desktop">
     
          <tr>
            <th>ID</th>
            <th>Nombre Usuario</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Marca Dispositivo</th>
            <th>Cliente_id</th>
            <th>Producto_id</th>
            <th>Cantidad</th>
            <th>Total_pagado</th>
            <th>fecha</th>
            <th>ip_cliente</th>
            <th>codigo</th>
            <th>Nºtarjeta</th>
            <th>Cvv</th>
            <th>MesV</th>
            <th>year</th>
            <th>currency</th>
            <th>Descripcion</th>
            <th>Opcion</th>
          </tr>
          <%for(const compra of modelo){%>
            <tr>
              <td><%=compra.compras_id%></td>
              <td><%=compra.nombre_de_usuario%></td>
              <td><%=compra.apellido%></td>
              <td><%=compra.cedula%></td>
              <td><%=compra.marca_dispositivo%></td>
              <td><%=compra.cliente_id%></td>
              <td><%=compra.producto_id%></td>
              <td><%=compra.cantidad%></td>
              <td><%=compra.total_pagado%></td>
              <td><%=compra.fecha%></td>
              <td><%=compra.ip_cliente%></td>
              <td><%=compra.codigo%></td>
              <td><%=compra.numeroT%></td>
              <td><%=compra.cvv%></td>
              <td><%=compra.mesV%></td>
              <td><%=compra.year%></td>
              <td><%=compra.currency%></td>
              <td><%=compra.descripcion%></td>
              <td class="icon">
              <a href="/deleteCompra/<%= compra.compras_id%>"><img src="/img/basura.png" width="30" id="delete"></a>
             </td>
            </tr>
           <%}%>
          
        </table>
       
  </div>


  <div class="table-mobile">
    <%for(const compra of modelo){%>
    <div class="fila">
        <div class="columna">
          <div class="header">ID</div>
          <div class="contenido"><%=compra.compras_id%></div>
        </div>
        <div class="columna">
          <div class="header">Nombre Usuario</div>
          <div class="contenido"><%=compra.nombre_de_usuario%></div>
        </div>
        <div class="columna">
          <div class="header">Apellido</div>
          <div class="contenido"><%=compra.apellido%></div>
        </div>
        <div class="columna">
          <div class="header">Cédula</div>
          <div class="contenido"><%=compra.cedula%></div>
        </div>
        <div class="columna">
          <div class="header">Marca Dispositivo</div>
          <div class="contenido"><%=compra.marca_dispositivo%></div>
        </div>
        <div class="columna">
          <div class="header">Cliente_ID</div>
          <div class="contenido"><%=compra.cliente_id%></div>
        </div>
        <div class="columna">
          <div class="header">Producto_ID</div>
          <div class="contenido"><%=compra.producto_id%></div>
        </div>
        <div class="columna">
          <div class="header">Cantidad</div>
          <div class="contenido"><%=compra.cantidad%></div>
        </div>
        <div class="columna">
          <div class="header">Total Pagado</div>
          <div class="contenido"><%=compra.total_pagado%></div>
        </div>
        <div class="columna">
          <div class="header">Fecha</div>
          <div class="contenido"><%=compra.fecha%></div>
        </div>
        <div class="columna">
          <div class="header">ip_cliente</div>
          <div class="contenido"><%=compra.ip_cliente%></div>
        </div>
        <div class="columna">
          <div class="header">Código</div>
          <div class="contenido"><%=compra.codigo%></div>
        </div>
        <div class="columna">
          <div class="header">Número Tarjeta</div>
          <div class="contenido"><%=compra.numeroT%></div>
        </div>
        <div class="columna">
          <div class="header">Cvv</div>
          <div class="contenido"><%=compra.cvv%></div>
        </div>
        <div class="columna">
          <div class="header">Mesv</div>
          <div class="contenido"><%=compra.mesV%></div>
        </div>
        <div class="columna">
          <div class="header">Año</div>
          <div class="contenido"><%=compra.year%></div>
        </div>
        <div class="columna">
          <div class="header">Currency</div>
          <div class="contenido"><%=compra.currency%></div>
        </div>
     
        <div class="columna">
          <div class="header">Descripción</div>
          <div class="contenido"><%=compra.descripcion%></div>
        </div>
        <div class="columna">
          <div class="header">Eliminar</div>
          <div class="contenido"> <a href="/deleteCompra/<%= compra.compras_id%>"><img src="/img/basura.png" width="30" id="delete"></a></div>
        </div>
       
    </div>
    <%}%>
  </div>
</body>
</html>
