<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
  <link href="css/iniciosesion.css" rel="stylesheet" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-XXXXXXXXX-X');
</script>
<!--Schema Markup-->
 <script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "Joyería",
		"datePublished": "2024-02-3",
		"author": {
		  "@type":"Person",
		  "name": "Rosemar Torres"
		},
		"publisher":{
		  "@type": "Organization",
		  "name": "Joyería La ELegancia",
		  "logo": {
			"@type": "ImageObject",
			"url": "https://cdn-icons-png.flaticon.com/512/7945/7945044.png" 
		  }
		},
		"image": {
		  "@type": "ImageObject",
		  "url": "https://i0.wp.com/blog.retif.es/wp-content/uploads/cuerda.jpg",
		  "width": "800",
		  "height": "600"
		},
		"description": "Joyas y accesorios de la mejor calidad"
	  }
  </script>

</head>
<body>

	<form action="/recuperarPassword" method="POST" class="form">
		<h1 class="form_tittle">Recuperación de contraseña</h1>
			 
			<div class="form_container">
				<div class="form_group">
					<input type="text" name="userName" id="cedula" class="form_input" placeholder=" " required>
					<label for="cedula" class="form_label">Nombre de usuario</label>
					<span class="form_line"></span>
				</div>
				
			</div>
			<div class="form_container">
				<div class="form_group">
					<input type="email" name="email"  class="form_input" placeholder=" " required>
					<label for="email" class="form_label">Correo electrónico</label>
					<span class="form_line"></span>
				</div>
				
			</div>
			<div class='contenedorBotonera'>
			  
		
				<input type="submit" class="form_submit" value="Enviar">
				<input type="button" value="Cancelar" onclick="cancelar()">
			
				</div>
		
		  </form>   
<script type="text/javascript"> 
	function cancelar(){
		window.location.href='/loginUsers';
	}
</script>
<script type="text/javascript">
	//aqui va alert.js 
</script>
</body>
</html>

  