<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
  <link href="css/iniciosesion.css" rel="stylesheet" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X3TGNSS1QD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X3TGNSS1QD');
</script>
<!--Schema Markup-->
 <script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "Joyería",
		"datePublished": "2024-02-3",
		"author": {
		  "@type":"Person",
		  "name": "Rosemar Torres"
		},
		"publisher":{
		  "@type": "Organization",
		  "name": "Joyería La ELegancia",
		  "logo": {
			"@type": "ImageObject",
			"url": "https://cdn-icons-png.flaticon.com/512/7945/7945044.png" 
		  }
		},
		"image": {
		  "@type": "ImageObject",
		  "url": "https://i0.wp.com/blog.retif.es/wp-content/uploads/cuerda.jpg",
		  "width": "800",
		  "height": "600"
		},
		"description": "Joyas y accesorios de la mejor calidad"
	  }
  </script>

<body>

    
<form action='/restablecer-contrasena' method="POST" class="form" id='myForm'>
	
<h1 class="form_tittle">Restablece tu contraseña</h1>
     
	<div class="form_container">
		<div class="form_group">
			<input type="text" name="userName" id="cedula" class="form_input" placeholder=" " required>
			<label for="cedula" class="form_label">Usuario</label>
			<span class="form_line"></span>
		</div>
		
	</div>
	<div class="form_container">
		<div class="form_group">
			<input type="password" name="password" id='password-1' class="form_input" placeholder=" " required>
			<label for="password" class="form_label">Contraseña nueva</label>
			<span class="form_line"></span>
		</div>
		
	</div>
	<div class="form_container">
		<div class="form_group">
			<input type="password" name="passwordC"  id='password-2' class="form_input" placeholder=" " required>
			<label for="password" class="form_label">Confirmar contraseña</label>
			<span class="form_line"></span>
		</div>
		
	</div>
</div>
     
     <div class="contenedorBotonera">
     	
	  <input type="submit" class="form_submit" value="enviar">
	  <input type="button" value="Login" onclick="login()">

     </div>
</form>



	<script type="text/javascript">
	function login(){
		window.location.href='/loginUsers';
	}
	let myForm = document.getElementById('myForm');
  
  myForm.addEventListener('submit',(e)=>{
    let password = document.getElementById('password-1');
    let passwordd = document.getElementById('password-2');

  if(password.value !== passwordd.value){
  e.preventDefault();
  alert('Las contraseñas no coinciden , vuelve a intentarlo');
  }
   
  });
</script>
</body>
</html>

	
