<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UpdateUsers</title>
	<link rel="icon" type="image/x-icon" href="img/perla.png" />
	<style type="text/css">
@font-face{
			font-family:'dali';
			src:url(/fuentes/DistorterDemoRegular.ttf);
		}
		body{
			margin:0;
			padding:0;
			width: 100%;
			background-image:url('https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			color:white;
		}

		form{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border:1px solid black;
			width:40%;
			margin:50px auto;
			padding:1rem;
			background:rgba(82, 175, 162,.7);
			border-radius:30px 0 30px 0;
		}
		input{
			margin:.5rem;
			text-align: center;
			border-radius:10px;
		}
		h1{
			display:flex;
			justify-content: center;
			width:100%;
			font:2rem 'dali';
			padding:10px;
		}
		label{
			font-weight:bold;
			font-size:1.3rem;
		}
		#selectinput input{
			cursor:pointer;
		}
	</style>
</head>
<body>
<h1>Update Users</h1>

<form action="/updateUser/<%=modelo.id%>" method="post">
	<label>Nombre</label>
	<input type="text" name="nombre" value="<%=modelo.nombre%>">

	<label>apellido</label>
	<input type="text" name="apellido" value='<%=modelo.apellido%>'>

	<label>cedula</label>
	<input type="number" name="cedula" value="<%=modelo.cedula%>">

	<label>Correo</label>
	<input type="email" name="correo" value="<%=modelo.correo%>">

	<label>Password</label>
	<input type="password" name="password" value="<%=modelo.password%>">

    <div style='display:flex;' id='selectinput'>
    	<input type="submit" value='update'>
	    <input type="button" value='cancelar' onclick="volver()">
    </div>
	
</form>
<script type="text/javascript">
	function volver(){
		window.location.href='/usuarios';
	}
</script>
</body>
</html>