 <!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  <link rel="icon" type="image/x-icon" href="img/perla.png" />
  
</head>
<body>

  <header>
    <h1><span class="letras">RT  </span>Joyería</h1>
    <nav>
        <ul>
        <li><a href="/logout2" class='botonProductos'>Cerrar</a></li>
         <li><a href="/">Inicio</a></li>

          <li><a href="/categorias">Categorías</a></li>
          <li><a href="/compras">Compras</a></li>
             <li><a href="/productos" class='botonProductos'>Productos</a></li>     

        </ul>
    </nav>
  
</header>

  <h1>Usuarios</h1>
  
  <div class="table"> 
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Password</th>
            <th><a href="/addUser"><img src="/img/agregar.png" id='add'></a></th>
          </tr>
          <%for(const usuario of modelo){%>
            <tr>
              <td><%=usuario.id%></td>
              <td><%=usuario.nombre%></td>
              <td><%=usuario.apellido%></td>
              <td><%=usuario.cedula%></td>
              <td><%=usuario.correo%></td>
              <td><%=usuario.password%></td>
              <td class="icon">
              <a href="/updateUser/<%= usuario.id%>"><img src="/img/actualizar.png" width="30"></a>
              <a href="/deleteUser/<%= usuario.id%>"><img src="/img/basura.png" width="30" id="delete"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>

</body>
</html>
